<% provide :title, "Help" %>
<h1><%= t"users.help.title" %></h1>
<p>
  <%= t"users.help.text_help_page" %>
  <%= link_to t"users.help.help_page_link", t"users.help.help_page_link" %>
  <%= t"users.help.text_help_ruby" %>
  <%= link_to t"users.help.rails_tutorial", t"users.help.rails_tutorial_link" %>
</p>
