<h1><%= t "email_message" %></h1>
<p><%= t("email_say") %> <%= @user.name %> </p>
<p>
  <%= t "email_content" %>
</p>
<%= link_to t("activate"), edit_account_activation_url(id:
  @user.activation_token, email: @user.email) %>
